 @font-face {
     font-family: 'open_sans';
     src: url('../Fonts/opensans-regular-webfont.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'open_sans';
     src: url('../Fonts/opensans-bold-webfont.woff2') format('woff2');
     font-weight: bold;
     font-style: normal;
 }

 @font-face {
     font-family: 'poppins';
     src: url('../Fonts/poppins-regular-webfont.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'poppins';
     src: url('../Fonts/poppins-bold-webfont.woff2') format('woff2');
     font-weight: bold;
     font-style: normal;
 }

 html {
    box-sizing: border-box; 
    padding: 1rem; }

 a:link, a:visited { color: rgb(0, 89, 255); }

 a:hover { color: #43c956; }

 a:active { color: rgb(0, 217, 255); }

 .Intro, .Skills, .Education, .Volunteer, .Experience, .abouttext {
     padding: 1rem;
 }

 .Intro, .Skills { background-color: wheat; }
 
 .Intro { text-align: center;}

 .Education, .Volunteer { background-color: rgb(148, 221, 221); }

 .Experience { background-color: rgb(233, 116, 95); }

 nav {
     background-color: lightgrey;
     position: sticky;
     display: inline;
     width: 100%;
     /*border: 2px solid lightblue;*/
 }

 .logo {
     display: inline;
     /*border: 2px solid black;*/
 }

 .parker {
     display: inline;
     margin: 0;
     position: relative;
     /*border: 2px solid orange;*/
     font-size: 3.5rem;
     color: black;
 }


 ul.navlist {
     list-style: none;
     display: inline;
     margin: 0;
     position: relative;
     /*border: 2px solid green;*/
 }

 .navlist li {
     font-size: 1.70rem;
     font-weight: bold;
     display: inline;
     padding-right: 1rem;
     /*border: 2px solid coral;*/
 }

 .welcome {
     
 }

 a {
     text-decoration: none;
 }

 .abouttext {
     background-color: lightcoral;
 }

 p, li {
     font-size: 1.60rem;
 }

 h1 {
     font-size: 2rem;
 }
 
 h2 {
     font-size: 1.80rem;
 }

 p, a, li {
     font-family: 'open_sans', Arial, Helvetica, sans-serif;
 }

 .parker, h1, h2, h3 {
     font-family: 'poppins', Arial, Helvetica, sans-serif;
 }