 @font-face {
     font-family: 'open_sans';
     src: url('../Fonts/opensans-regular-webfont.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'open_sans';
     src: url('../Fonts/opensans-bold-webfont.woff2') format('woff2');
     font-weight: bold;
     font-style: normal;
 }

 @font-face {
     font-family: 'poppins';
     src: url('../Fonts/poppins-regular-webfont.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'poppins';
     src: url('../Fonts/poppins-bold-webfont.woff2') format('woff2');
     font-weight: bold;
     font-style: normal;
 }

 .home {
     position: relative;
     bottom: .85rem;
 }

 html {
    box-sizing: border-box; 
    padding: 1rem; }

    body {
        background-color: black;
    }

 a:link, a:visited { color: rgb(0, 89, 255); }

 a:active { color: rgb(0, 217, 255); }
 
 a.navabout:active  { color: coral; }

 a.navresume:active { color: #b1f4b6; }

 a.navwork:active { color: #8989ff; }

 .work p, .work h1, .work h2, .parker, .greeting, .workfirst {
     color: white;
 }

 .workbody, .workfirst {
     padding: 10rem 0 0;
 }

 .workbody h1, .workbody h2, .workbody p, .workfirst h1, .workfirst h2, .workfirst p {
     text-align: center;
     padding: 1rem;
 }

 .workbody img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .task {
     position: relative;
     bottom: 3rem;
    /* padding: .325rem 0 .325rem;*/
 }

 .wireframe {
     position: relative;
     top: 3.3rem;
 }
 .task, .sitemap, .wireframe {
     display: inline-block;
 }
 .first, .redesign, .teado, .task, .sitemap, .wireframe {
     width: 75%;
     background-color: #8989ff;
 }

 /*.redesign, .task, .wireframe {
     position: relative;
     left: 25%;
 }*/

 .Intro, .Skills, .Education, .Volunteer, .Experience, .abouttext {
     padding: 1rem;
 }

 .Intro, .Skills { background-color: #b1f4b6; }
 
 .Intro { text-align: center; 
    Padding-top: 7rem;
 }

 .Education, .Volunteer { background-color: rgb(148, 221, 221); }

 .Experience { background-color: #8989ff; }

 nav {
     position: fixed;
     width: 100%;
     z-index: 10;
     /*border: 2px solid lightblue;*/
 }

 .logo {
     display: inline;
     width: 6.25rem;
     padding: .5rem 1rem 1rem;
     float: left;
     /*border: 2px solid black;*/
 }

 .parker {
     display: inline;
     float: left;
     margin: 0;
     padding: 1.5rem 1rem 1rem;
     position: relative;
     /*border: 2px solid orange;*/
     font-size: 3.3rem;
 }


 ul.navlist {
     list-style: none;
     display: inline;
     margin: 1.7rem 3rem 1rem;
     padding: 0 .25rem 0 1rem;
     position: relative;
     float: right;
     background-color: rgba(255, 255, 255, 0.705);
     /*border: 2px solid green;*/
 }

 .navlist li {
     font-size: 1.70rem;
     font-weight: bold;
     display: inline;
     padding-right: 1rem;
     /*border: 2px solid coral;*/
 }

 .greeting {
     text-align: center;
     position: relative;
     top: 20rem;
 }

 a {
     text-decoration: none;
 }

 .aboutmoi {
     background-color: coral;
 }
 .aboutme {
     padding: 10rem 1rem 1rem;
 }

 .abouttext {
     position: relative;
     left: -1rem;
 }

 p, li {
     font-size: 1.60rem;
 }

 h1 {
     font-size: 2rem;
 }
 
 h2 {
     font-size: 1.80rem;
 }

 p, a, li {
     font-family: 'open_sans', Arial, Helvetica, sans-serif;
 }

 .parker, h1, h2, h3 {
     font-family: 'poppins', Arial, Helvetica, sans-serif;
 }