 a:link { color: rgb(0, 89, 255); }

 a:visited { color: rgb(132, 0, 255); }

 a:hover { color: rgb(255, 0, 98); }

 a:active { color: rgb(0, 217, 255); }

 .Intro {background-color: wheat; border: 5px outset silver; text-align: center; }

 .Education { background-color: rgb(148, 221, 221); border: 5px outset silver; margin-left: 20px;}

 .Experience { background-color: rgb(233, 116, 95); border: 5px outset silver; }

 .Volunteer { background-color: rgb(148, 221, 221); border: 5px outset silver; }

 .Skills {background-color: wheat; border: 5px outset silver; }